/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
.header {
  background-color: #004085;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px; /* Ajusta esto según el tamaño de tu logo */
}
.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn.hide {
  display: none;
}
.main-container {
  padding: 20px;
}
.welcome-message {
  margin-bottom: 20px;
}
.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.card-header {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header i {
  margin-right: 10px;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.card-text {
  margin-bottom: 10px;
}
.project-detail {
  margin-bottom: 15px;
}
.project-calculations {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}
.project-calculations h5 {
  color: #007bff;
}
.icon {
  color: #007bff;
  margin-right: 5px;
}